$maincolor: #03f43f;
$bluecolor: #03a9f4;
$yellowcolor: #ffc107;
$indigocolor: #6610f2;
$greencolor: #198754;
$redcolor: red;
$colors: $bluecolor, $yellowcolor, $indigocolor, $greencolor, $redcolor;
$percentage: 60%, 70%, 75%, 45%, 30%;
$links: 'About', 'Skills', 'Gallery', 'Timeline', 'Features', 'testimonials';

:root {
  --main-color: #{var(--main-color)};
  --main-size: '11px';
}
